<% include ../partials/header.ejs  %>


     <div class="container" >
       <div  class="jumbotron">
           <h1 class="display-4">welcome to <%=title %></h1>
          </div>

         
         <div id="top">
         
                    <div id="left"><a target="_blank" >
    <img src="Assets/images/android.png"  alt="image" width="360" height="200">
  </a></div>
                    <div id="right"><a target="_blank" >
    <img src="Assets/images/Java.png" alt="image" width="360" height="200">
  </a></div>

         </div>
         <div id="center">
                          <div id="left"><a target="_blank" >
    <img src="Assets/images/aws.png" alt="image" width="360" height="200">
  </a></div>
                   <div id="right"><a target="_blank" >
    <img src="Assets/images/Web.png" alt="image" width="360" height="200">
  </a></div>
         </div>
         <div id="bottom">
                          <div id="left"><a target="_blank" >
    <img src="Assets/images/JS.png" alt="image" width="360" height="200">
  </a></div>
                    <div id="right"><a target="_blank" >
    <img src="Assets/images/Web.png" alt="image" width="360" height="200">
  </a></div>
         
         </div>
         


        </div>
        </div>
    


<% include ../partials/footer.ejs %>