/*
Prateek kaushal 300985002 Sec 008
*/
/*
Css for allignment of div tags in  services and projects
*/

#content {
  overflow: auto;
  width: 100%;
}

#lft {
  float: left;
  border: 2px;
  width: 40%;
  margin: 5px;
  padding: 1em;
  background: white;
}
#rght {
  float: right;
  border: 2px;
  width: 40%;
  margin: 5px;
  padding: 1em;
  background: white;
}
