/* custom CSS here */

#content {
  overflow: auto;
  width: 100%;
  margin: 2px;
}
#body {
  background-color: rgb(255, 225, 127);
}

#left {
  float: left;
  border: 2px;
  width: 30%;
  margin: 2px;
  padding: 1em;
}
#right {
  float: right;
  border: 2px;
  width: 50%;
  margin: 2px;
  padding: 1em;
}

#top {
  float: top;
  height: 33%;
  border: 2px;
  padding: 1em;
  margin: 2px;
  padding: 1em;
  background: white;
}
#center {
  float: center;
  height: 33%;
  border: 2px;
  margin: 2px;
  padding: 1em;
  background: white;
}
#bottom {
  float: bottom;
  height: 33%;
  box-align: bottom;
  border: 2px;

  margin: 2px;
  padding: 1em;
  background: white;
}


input[type=submit] {
  background-color: #4CAF50;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.containerForm {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}
